/* CSS Reset */
* {
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* line-height: 1.5; */
  }


  
  #homePage {
    background-image: url('bgimage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  #list {
    background-image: url('bgimage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #upload{
    background-image: url('bgimage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  body, nav {
    background-color: black; /* This will make the text color white so it's visible on the black background */
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    width: 100%;
    height: 5vh;
    gap: 10rem;
    overflow: hidden;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease, transform 0.3s ease; /* This will animate the color and transform changes */
  }
  
  nav a:hover {
    color: rgb(5, 95, 117);
    transform: scale(1.1); /* This will make the link 10% larger */
  }

  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  
  header h1 {
    margin-bottom: 0;
    margin-top: 10rem;
  }
  
  header p {
    margin-top: 0;
    font-size: larger;
    width: 40vw;
    font-weight: 600;
  }
  
  p {
    color: #100f0f;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
    transition: text-shadow 0.3s ease;
    text-align: justify;  
  }
  
  p:hover {
    text-shadow: 0 0 10px rgb(140, 0, 0), 0 0 20px #f00, 0 0 40px #f00;
  }

  h1{
    color: #484848;
    font-size: 5rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    cursor: pointer;
    margin-bottom: 30rem;
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }
  h1:hover span:nth-child(2){
    margin-left: 30px
  }
  h1:hover span{
    color: #7a0e0e;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
  #upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  h2 {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #size {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #upload-form button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  #upload-form button:hover {
    background-color: #444;
  }
  #upload-form input {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  
  #torrent-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
  }
  
  #torrent-table th,
  #torrent-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  
  #torrent-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #000;
    pointer-events: none;
  }
  
  #torrent-table tr {
    background-color: #515050;
    transition: background-color 0.3s ease;
    color: #fbfbfb;
  }
  
  #torrent-table tr:hover {
    background-color: white;
    transform: scale(1.01);
    color: #000;
  }
  
  /* #torrent-table tr:hover td {
    color: black;
  } */

  
  /* Responsive design */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  
    nav a {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    #upload-form {
      flex-direction: column;
    }
  
    #upload-form input, #upload-form button {
      margin-bottom: 1rem;
    }
  }

  